Filter Data Using Pandas

In [1]:
import pandas as pd

In [12]:

data = {
    'name': ['ripu', 'ayush', 'nadeem', 'sajid', 'Abhay'],
    'age': [15, 34, 10, 20, 34],
    'salary': [50000, 78000, 45000, 78000, 80000]
}
df = pd.DataFrame(data)

result = df[df['age']==10 ]
print(result)

In [ ]:
result = df[df['age'] > 10]
print(result)

    name  age  salary
0   ripu   15   50000
1  ayush   34   78000
3  sajid   20   78000
4  Abhay   34   80000

In [37]:
result3 = df[df['name']=='ayush']
print(result3)

    name  age  salary
1  ayush   34   78000

Example 2

In [31]:
result2 = df[df['salary'] > 50000]
print(result2)

    name  age  salary
1  ayush   34   78000
3  sajid   20   78000
4  Abhay   34   80000

Now, with multiple conditions...

In [35]:
result3 = df[(df['age']>20) & (df['salary']>50000)]
print(result3)

    name  age  salary
1  ayush   34   78000
4  Abhay   34   80000

In [ ]:
import numpy as np