In [1]:
import pandas as pd

In [4]:
dict = {
    'First Score':  [100, 90, None, 95],
    'Second Score': [30, 45, 56, None],
    'Third Score':  [None, 40, 80, 98]
}

In [5]:
df = pd.DataFrame(dict)

In [6]:
print(df)

   First Score  Second Score  Third Score
0        100.0          30.0          NaN
1         90.0          45.0         40.0
2          NaN          56.0         80.0
3         95.0           NaN         98.0

In [7]:

print(df.isnull())

   First Score  Second Score  Third Score
0        False         False         True
1        False         False        False
2         True         False        False
3        False          True        False

In [8]:
print(df.notnull())

   First Score  Second Score  Third Score
0         True          True        False
1         True          True         True
2        False          True         True
3         True         False         True

In [9]:
print("Original DataFrame:")
print(df)

Original DataFrame:
   First Score  Second Score  Third Score
0        100.0          30.0          NaN
1         90.0          45.0         40.0
2          NaN          56.0         80.0
3         95.0           NaN         98.0

In [17]:
df_filled = df.fillna(method='pad')
print(df_filled)

   First Score  Second Score  Third Score
0        100.0          30.0          NaN
1         90.0          45.0         40.0
2         90.0          56.0         80.0
3         95.0          56.0         98.0

C:\Users\Student\AppData\Local\Temp\ipykernel_20964\1104199585.py:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df_filled = df.fillna(method='pad')

In [18]:
df_filled2 = df.ffill()
print(df_filled2)

   First Score  Second Score  Third Score
0        100.0          30.0          NaN
1         90.0          45.0         40.0
2         90.0          56.0         80.0
3         95.0          56.0         98.0

In [20]:
df_filled2 = df.bfill()
print(df_filled2)

   First Score  Second Score  Third Score
0        100.0          30.0         40.0
1         90.0          45.0         40.0
2         95.0          56.0         80.0
3         95.0           NaN         98.0

In [ ]:
df_filled4 = df.fillna(method='bfill')
print(df_filled4)

In [ ]:
df_filled5 = df.fillna(method='ffill')
print(df_filled5)

In [23]:
data2 = {
    'First Score':  [100, 90, None, 95],
    'Second Score': [30, 45, 56, None],
    'Third Score':  [None, 40, 80, 98]
}

df2 = pd.DataFrame(data2)

In [24]:
df2.fillna(-99,inplace=True)
print(df2)

   First Score  Second Score  Third Score
0        100.0          30.0        -99.0
1         90.0          45.0         40.0
2        -99.0          56.0         80.0
3         95.0         -99.0         98.0

In [25]:
# Creating the dataframe
df3 = pd.DataFrame({
    "A":[12, 4, 5, None, 1],
    "B":[None, 2, 54, 3, None],
    "C":[20, 16, None, 3, 8],
    "D":[14, 3, None, None, 6]
})

In [32]:
print(df3)

      A     B     C     D
0  12.0   NaN  20.0  14.0
1   4.0   2.0  16.0   3.0
2   5.0  54.0   NaN   NaN
3   NaN   3.0   3.0   NaN
4   1.0   NaN   8.0   6.0

In [38]:
print(df3.interpolate(method='linear', limit_direction='forward', axis=0, limit=3))

      A     B     C     D
0  12.0   NaN  20.0  14.0
1   4.0   2.0  16.0   3.0
2   5.0  54.0   9.5   4.0
3   3.0   3.0   3.0   5.0
4   1.0   3.0   8.0   6.0